/* You can add global styles to this file, and also import other style files */
section {
  padding: 10px;
}
.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.collapse .nav-link {
  color: #ffffff;
}
.page1 {
  display: flex;
  justify-content: space-between;
}
.page1 h1 {
  text-align: center;
  color: blue;
}
.page1 p,
li {
  color: blue;
}
.reserve-right {
  width: 20%;
}
